<mat-toolbar>
  <button
    mat-icon-button
    aria-label="menu-button"
    (click)="toggleDrawer.emit()"
  >
    <mat-icon aria-hidden="false">menu</mat-icon>
  </button>
  <div style="flex: 1">
    Admin dashboard
    <span *ngIf="getProfile()">{{ "- " + getProfile()?.name }}</span>
  </div>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
